/* CSS reset */
/** {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}*/

h1,
p {
  background-color: #dde0e3; /* light gray */
}

em,
strong {
  background-color: #b2d6ff; /* light blue */
  display: block;
}

.mvp {
  background-color: indianred;
  border: 5px solid black;
  text-align: center;
  margin: 50px;
}

h1 {
  padding: 50px;
/*  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 40px;*/
  border: 5px solid #5d6063;
}

div {
  background-color: skyblue;
  padding: 20px;
  text-align: center;
  border: 2px solid #5d6063;
  border-radius: 5px;
}
